body{
    background-color: antiquewhite;
    // color: cadetblue;
}

@mixin input{
    margin-top: 24px;
    height: 25px;
}

#cash_calc{
    margin: 20px;
    margin-left: 520px;
  }
  
.note{
    height: 80px;
    width: 180px;
}
  
.multi, .equal{
    margin: 30px;
}
  
#cash_500{
    display: flex;
    margin-bottom: 20px;

    #count1,#amount1{
       @include input;
    }
}

#cash_200{
    display: flex;
    margin-bottom: 20px;

    #count2,#amount2{
       @include input;
    }
}

#cash_100{
    display: flex;
    margin-bottom: 20px;
    
    #count3,#amount3{
       @include input;
    }
}

#cash_50{
    display: flex;
    margin-bottom: 20px;
    
    #count4,#amount4{
       @include input;
    }
}

#cash_20{
    display: flex;
    margin-bottom: 20px;
    
    #count5,#amount5{
       @include input;
    }
}

#cash_10{
    display: flex;
    margin-bottom: 20px;
    
    #count6,#amount6{
       @include input;
    }
}

#total{
    display: flex;
    gap: 130px;
    font-size: xx-large;
    font-weight: bolder;
    #total_note{
        width: 50%;
        text-overflow: clip;
    }
    #total_amt{
        width: 50%;
        text-overflow: clip;
        margin-left: 20px;
    }
}